.new-arrival {
    padding: 20px;
    padding-top: 0;
}

.new-arrival h2 {
    text-align: center;
    font-size: 28px;
    color: rgb(46, 46, 46);
    font-weight: 800;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: fit-content;
    padding: 20px;
    justify-content: center;
    justify-content: space-between;
}

.Product-link {
    text-decoration: none;
    color: inherit;
}

.product-card {
    padding: 10px;
    max-width: 270px;
    transition: transform 0.2s ease-in-out;
}

.product-card:hover {
    transform: scale(1.1);
}

.product-card img {
    width: 270px;
    height: 300px;
    object-fit: cover;
    object-position: center;
}

.product-card .price {
    font-weight: 500;
}

@media (max-width:700px) {

    .new-arrival, .recommendation {
        padding: 0;
    }

    .Product-link {
        margin: 0 auto;
    }

    .product-card img {
        width: calc(100vw - 100px);
        max-width: max-content;
        height: auto;
    }
}


@media (max-width:500px) {
    .product-card {
        width:auto;
        max-width: max-content;
        padding: 0;
    }

    .product-card img {
        width: 100%;
        max-width: max-content;
    }
}

